form{
	margin-top: 30px;
	margin-bottom: 30px;
}

button{
	margin-top: 30px;
}

#upper{
	display: none;
	width: 600px;
	margin: 20px auto 20px auto;
	background-color: #ccc;
	padding: 10px;
}

#lower{
	display: none;
	width: 600px;
	margin: 0 auto 0 auto;
	border: solid 1px #ccc;
	padding: 10px;
}

#plot{
	text-align: left;
	font-family: aerial, sans-serif;
	font-size: 14px;
}